<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <ul class="navbar-nav flex-row me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link px-3" routerLink="/generazione/1" routerLinkActive="active-menu">Generazione 1</a></li>
      <li class="nav-item"><a class="nav-link px-3" routerLink="/generazione/2" routerLinkActive="active-menu">Generazione 2</a></li>
      <li class="nav-item"><a class="nav-link px-3" routerLink="/generazione/3" routerLinkActive="active-menu">Generazione 3</a></li>
      <li class="nav-item"><a class="nav-link px-3" routerLink="/generazione/4" routerLinkActive="active-menu">Generazione 4</a></li>
      <li class="nav-item"><a class="nav-link px-3" routerLink="/generazione/5" routerLinkActive="active-menu">Generazione 5</a></li>
      <li class="nav-item"><a class="nav-link px-3" routerLink="/generazione/6" routerLinkActive="active-menu">Generazione 6</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

  <footer class="bg-light text-center py-3">Hello, I'm a footer</footer>
</div>