<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div [ngStyle]="{
  'background-image': 'url(' + backgroundImage + ')',
  'background-size': 'cover',
  'background-position': 'center',
  'background-repeat': 'no-repeat',
  'background-attachment': 'fixed',
  'min-height': '100vh',
  'background-color': 'transparent'
}">

  <div class="container pt-5">
    <nav class="navbar-custom">
      <img src="https://images.icon-icons.com/2248/PNG/512/pokeball_icon_136305.png" alt="Pokeball sinistra" class="navbar-image">
      <div class="navbar-buttons-wrapper">
        <a routerLink="/generazione/1" routerLinkActive="active-menu">Generazione 1</a>
        <a routerLink="/generazione/2" routerLinkActive="active-menu">Generazione 2</a>
        <a routerLink="/generazione/3" routerLinkActive="active-menu">Generazione 3</a>
        <a routerLink="/generazione/4" routerLinkActive="active-menu">Generazione 4</a>
        <a routerLink="/generazione/5" routerLinkActive="active-menu">Generazione 5</a>
        <a routerLink="/generazione/6" routerLinkActive="active-menu">Generazione 6</a>
      </div>
      <img src="https://images.icon-icons.com/2248/PNG/512/pokeball_icon_136305.png" alt="Pokeball destra" class="navbar-image">
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
