/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font e colori generali */
* {
  font-family: 'Press Start 2P', cursive;
  background-size: 100% auto;
  background-attachment: fixed;
  color: #333;
}

/* Navbar personalizzata */
.navbar-custom {
  background-color: #fffb87a2;
  border-radius: 10px;
  padding: 15px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

/* Stile link navbar */
.navbar-custom a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #1a1a1a;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid #ec2424;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease;
}

/* Hover link */
.navbar-custom a:hover {
  background-color: #ffffff00;
  color: #ec2424;
  transform: scale(1.05);
}

/* Link attivo */
.navbar-custom a.active-menu {
  background-color: transparent;
  color: #ec2424;
  border-color: #ec2424;
}

/* Focus link */
.navbar-custom a:focus,
.navbar-custom a:active {
  outline: none;
  background-color: #fa9b24;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-custom {
    flex-direction: column;
  }

  .navbar-custom a {
    width: 100%;
    text-align: center;
  }
}

/* Pop-up overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Pop-up content */
.popup-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  width: 320px;
  max-width: 90%;
  text-align: center;
}

.popup-content img {
  width: 180px;
  height: 180px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.popup-content h2 {
  color: #f7c43c; /* Giallo Pokémon */
  margin-bottom: 15px;
  font-size: 24px;
  text-transform: capitalize;
}

.popup-content p {
  margin: 8px 0;
  font-size: 16px;
  color: #444;
}

/* Bottone chiudi */
.popup-content button {
  margin-top: 20px;
  background-color: #f7c43c;
  color: #222;
  font-weight: bold;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content button:hover {
  background-color: #e5a800;
}
